<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Log in Form</title>
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
    <link rel="stylesheet" href="css/style.css">
</head>

<body background="background.jpg">

<nav class="navbar navbar-dark bg-primary">

    <a th:href="${'/'}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Speaker</a>

</nav>

<div id="login">
    <h3 class="text-center text-white pt-5">Log in form</h3>

    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12" style="height:600px;" >

                    <form id="login-form" class="form" th:action="@{/login}" th:object="${user}" method="post" enctype="utf8">
                        <h3 class="text-center text-info">Log in</h3>

                        <div class="form-group">
                            <label class="text-info">Email</label><br>
                            <input th:field="*{email}" type="email" id="username" class="form-control">
                            <p th:each="error : ${#fields.errors('email')}"
                               th:text="${error}">Validation error</p>
                            <p th:text="${error}"></p>
                        </div>

                        <div class="form-group">
                            <label for="password" class="text-info">Password</label><br>
                            <input th:field="*{password}" type="password" id="password" class="form-control">
                            <p th:each="error : ${#fields.errors('password')}"
                               th:text="${error}">Validation error</p>
                        </div>

                        <div class="form-group">
                            <label for="remember-me" class="text-info"><span>Remember me</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br>
                            <input type="submit" name="submit" class="btn btn-info btn-md" value="Log in">
                        </div>

                        <div id="register-link" class="text-right">
                            <a href="/registration" class="text-info">Register here</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>